/* =============
 table of contents
===============

0. global styles
1. ul class .flex
      1.1 sub HTML + css + JavaScript
      1.2 sub sub of CSS


2. main & footer
3. header of mobile
 
*/

/* ===============
   0. global style
================ */

* {
  margin: 0;
  padding: 0;

  font-family: sans-serif;

  text-decoration: none;
  list-style: none;

  letter-spacing: 1px;
  background-color: black;
}

html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* header {
  background-color: #1b1b1b;
} */

h1 {
  padding: 20px;
  font-size: 25px;
}
header,
header a {
  color: white;
}

/* ===============
   1.  ul class .flex
================ */

.hide-when-mobile {
  display: flex;
  justify-content: space-around;
}

.flex {
  display: flex;
}

.main-list {
  padding: 20px;
  font-size: 19px;
  position: relative;
}

.main-link {
  padding: 0px 15px;
}
.main-link::after {
  content: "";
  position: absolute;
  background-color: cyan;
  height: 3px;
  width: 0;
  left: 0;
  margin-top: 22px;
  /* bottom: 0px; */
  transition: 0.3s;
}
.main-link:hover:after,
.main-link.active:after {
  width: 65%;
  margin-left: 25px;
}
.main-link:hover,
.main-link.active {
  color: cyan;
}

/* =======================================
   1.1 sub HTML + css + JavaScript
======================================== */

.sub-ul {
  display: none;

  position: absolute;
  top: 69px;
  left: -15px;
  border-top: 1px solid cyan;

  background-color: #1b1b1b;

  border-radius: 5px;
  padding: 5px;

  width: 155px;
}

.sub-of-js {
  left: 10px;
}

.sub-ul li {
  padding: 8px 0;
  font-size: 17px;
  border-bottom: 1px solid black;
}

.sub-ul li a:hover {
  color: cyan;
  font-weight: bold;
}

.main-list:hover .sub-ul {
  display: block;
}

/* =======================================
   1.2 sub sub of CSS
======================================== */

.sub-sub-ul {
  position: absolute;
  top: 80px;
  left: 153px;

  border-top: 1px solid cyan;

  background-color: #1b1b1b;

  border-radius: 5px;
  padding: 5px;

  width: 150px;

  display: none;
}

.mini-projects:hover .sub-sub-ul {
  display: block;
}

/* ==================
    2. main & footer
===================== */
main {
  color: #1b1b1b;

  height: calc(100vh - 128.64px);

  font-size: 30px;
  font-weight: bold;
  line-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

footer {
  /* background-color: #1b1b1b; */

  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color: cyan;
}

/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}

.show-when-mobile .xxx{
  margin-left: 50px;
}
.about.active h1 {
  color: cyan;
  /* box-shadow: 0 0 5px cyan;
  border-radius: 5px; */
}

/* ==================
    4. Home page Styling
===================== */

#hello {
  color: cyan;
  position: absolute;
  left: 200px;
  font-size: 50px;
}

#xyxy {
  color: cyan;
  font-size: 20px;
  position: absolute;
  left: 110px;
  top: -60px;
}

#xxzz {
  color: white;
}

#img {
  width: 30%;
  position: absolute;
  right: 0px;
}

#bttn {
  position: absolute;
  left: 250px;
  bottom: 220px;
}

.btn {
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to top, cyan 0%, 50%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
  margin: 0 20px;
}

.btn:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.btn:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.btn:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

@media (max-width: 1185px) {
  /* #img{
    width: 25%;
  } */
  #hello {
    color: cyan;
    position: absolute;
    left: 150px;
    font-size: 30px;
  }
  #bttn {
    position: absolute;
    left: 180px;
    bottom: 220px;
  }
  .btn {
    width: 120px;
  }
}
@media (max-width: 948px) {
  #hello {
    color: cyan;
    position: absolute;
    left: 150px;
    font-size: 28px;
  }
  #bttn {
    position: absolute;
    left: 180px;
    bottom: 200px;
  }
  .btn {
    width: 100px;
  }
}

@media (max-width: 800px) {
  #hello {
    color: cyan;
    position: absolute;
    left: 250px;
    top: 150px;
    font-size: 22px;
  }
  #xyxy {
    font-size: 18px;
    top: -50px;
    left: 85px;
  }
  #xxzz {
    font-size: 30px;
    position: relative;
    left: -10px;
  }
  #bttn {
    position: absolute;
    left: 250px;
    bottom: 400px;
  }
  .btn {
    width: 100px;
  }
  #img {
    width: 30%;
    position: absolute;
    right: 270px;
    top: 450px;
  }
}

@media (max-width: 600px) {
  #hello {
    color: cyan;
    position: absolute;
    left: 150px;
    top: 150px;
    font-size: 22px;
  }
  #xyxy {
    font-size: 18px;
    top: -50px;
    left: 85px;
  }
  #xxzz {
    font-size: 22px;
    position: relative;
    left: -10px;
  }
  #bttn {
    position: absolute;
    left: 150px;
    bottom: 400px;
  }
  .btn {
    width: 100px;
  }
  #img {
    width: 40%;
    position: absolute;
    right: 160px;
    top: 450px;
  }
}

@media (max-width:460px){
  #xxzz{
    font-size: 15px;
    top: 18px;
  }
  #xyxy{
    left: 25%;
    font-size: 15px;
  }
  #hello{
    font-size: 15px;
    left: 30%;
  }
  #bttn {
    position: absolute;
    left: 80px;
    bottom: 400px;
  }
  #img {
    width: 40%;
    position: absolute;
    right: 130px;
    top: 450px;
  }
}

/* ==================
    5. About page Styling
===================== */



.aboutme {
  color: cyan;
  position: absolute;
  top: 50px;
}

.info {
  color: white;
  position: absolute;
  top: 100px;
  font-weight: bolder;
  text-transform: uppercase;
  opacity: 20%;
}
.infoUl {
  color: white;
  position: absolute;
  top: 230px;
  font-size: 20px;
}
.xzxc.aa {
  padding-left: 90px;
  margin-left: 30px;
  color: grey;
  font-weight: lighter;
}
.xzxc.bb {
  padding-left: 50px;
  color: grey;
  font-weight: lighter;
}
.xzxc.cc {
  padding-left: 100px;
  color: grey;
  font-weight: lighter;
}
.xzxc.dd {
  padding-left: 90px;
  color: grey;
  font-weight: lighter;
}
.xzxc.ee {
  padding-left: 120px;
  color: grey;
  font-weight: lighter;
}
.xzxc.ff {
  padding-left: 120px;
  color: grey;
  font-weight: lighter;
}

.a {
  position: relative;
  left: 5px;
}
.b {
  position: relative;
  left: 30px;
  top: 10px;
}
.c {
  position: relative;
  left: 60px;
  top: 20px;
}
.d {
  position: relative;
  left: -30px;
  top: 30px;
}
.e {
  position: relative;
  left: 90px;
  top: 40px;
}
.f {
  position: relative;
  left: 20px;
  top: 50px;
}

.img{
  position: absolute;
  left: 50px;
  width: 25%;
}

.pj{
  color: cyan;
  font-weight: bolder;
}

.f.z{
  font-weight: lighter;
  left: -45px;
  top: 90px;
}

.f.z.b{
  color: cyan;
  background-color: #606060;
  border-radius: 20px;
  padding: 10px;
  box-shadow: #fff 2px 2px 4px;
}

.f.z.b:hover{
  cursor:pointer;
}


@media (max-width:1100px){
  .infoUl{
    color: white;
    font-size: 15px;
  }
  .a {
    position: relative;
    left: 5px;
  }
  .b {
    position: relative;
    left: 20px;
    top: 10px;
  }
  .c {
    position: relative;
    left: 50px;
    top: 20px;
  }
  .d {
    position: relative;
    left: -20px;
    top: 30px;
  }
  .e {
    position: relative;
    left: 70px;
    top: 40px;
  }
  .f {
    position: relative;
    left: 20px;
    top: 50px;
  }
  
  .img{
    position: absolute;
    left: 50px;
    width: 25%;
  }
  
  .pj{
    color: cyan;
    font-weight: bolder;
  }
  
  .f.z{
    font-weight: lighter;
    left: -45px;
    top: 90px;
  }
  
  .f.z.b{
    color: cyan;
    background-color: #606060;
    border-radius: 20px;
    padding: 10px;
    box-shadow: #fff 2px 2px 4px;
  }
}

@media (max-width:800px){
  
  .a {
    position: relative;
    left: 15%;
  }
  .b {
    position: relative;
    left: 15%;

    top: 10px;
  }
  .c {
    position: relative;
    left: 15%;
    top: 20px;
  }
  .d {
    position: relative;
    left: 15%;
    top: 30px;
  }
  .e {
    position: relative;
    left: 15%;
    top: 40px;
  }
  .f {
    position: relative;
    left: 15%;
    top: 50px;
  }
  
  .img{
    position: absolute;
    left: 15%;
    width: 25%;
  }
  
  .pj{
    color: cyan;
    font-weight: bolder;
  }
  
  .f.z{
    font-weight: lighter;
    left: 15%;
    top: 90px;
  }
  
  .f.z.b{
    color: cyan;
    background-color: #606060;
    border-radius: 20px;
    padding: 10px;
    box-shadow: #fff 2px 2px 4px;
  }
  .xzxc.aa {
    padding-left: 0px;
    margin-left: 0px;
    color: grey;
    font-weight: lighter;
  }
  .xzxc.bb {
    padding-left: 0px;
    color: grey;
    font-weight: lighter;
  }
  .xzxc.cc {
    padding-left: 0px;
    color: grey;
    font-weight: lighter;
  }
  .xzxc.dd {
    padding-left: 0px;
    color: grey;
    font-weight: lighter;
  }
  .xzxc.ee {
    padding-left: 0px;
    color: grey;
    font-weight: lighter;
  }
  .xzxc.ff {
    padding-left: 0px;
    color: grey;
    font-weight: lighter;
  }
}
@media (max-width:600px){
  .info{
    font-size: 22px;
  }
  .a {
    position: relative;
    left: 10px;
    top: 100px;
  }
  .b {
    position: relative;
    left: 10px;
    top: 50px;
  }
  .c {
    position: relative;
    left: 10px;
    top: 0px;
  }
  .d {
    position: relative;
    left: 10px;
    top: -50px;
  }
  .e {
    position: relative;
    left: 10px;
    top: -80px;
  }
  .f {
    position: relative;
    left: 10px;
    top: -100px;
  }
  
  .img{
    position: absolute;
    left: 39%;
    width: 25%;
    top: 150px;
  }
  
  .pj{
    color: cyan;
    font-weight: bolder;
  }
  
  .f.z{
    font-weight: lighter;
    left: 10px;
    top: -150px;
  }
  
  .f.z.b{
    color: cyan;
    background-color: #606060;
    border-radius: 20px;
    padding: 10px;
    box-shadow: #fff 2px 2px 4px;
  }
  .xzxc.aa {
    padding-left: 0px;
    margin-left: 0px;
    color: grey;
    font-weight: lighter;
  }
  .xzxc.bb {
    padding-left: 0px;
    color: grey;
    font-weight: lighter;
  }
  .xzxc.cc {
    padding-left: 0px;
    color: grey;
    font-weight: lighter;
  }
  .xzxc.dd {
    padding-left: 0px;
    color: grey;
    font-weight: lighter;
  }
  .xzxc.ee {
    padding-left: 0px;
    color: grey;
    font-weight: lighter;
  }
  .xzxc.ff {
    padding-left: 0px;
    color: grey;
    font-weight: lighter;
  }
}

@media (max-width:460px){
  .info{
    font-size: 15px;
  }

  .img{
    position: absolute;
    width:35% ;
    left: 150px;
  }

}